@import "tailwindcss";

.btn-primary {
  @apply text-white text-[10px] lg:text-[14px] rounded-[12px] bg-[#EB221E] h-[30px] w-[100px] lg:h-[50px] lg:w-[160px] cursor-pointer;
}
.btn-outline {
  @apply text-[#EB221E] text-[10px] lg:text-[14px] rounded-[12px] border border-[#EB221E] h-[30px] w-[100px] lg:h-[50px] lg:w-[160px] cursor-pointer;
}
.input {
  @apply border border-[#42425566] rounded-[10px] py-3 px-4;
}
.title {
  @apply font-bold text-[20px] text-[#0A0A0A];
}
.sub-title {
  @apply text-base text-[#4A5565];
}
